@using MySpace.ApplicationCore.Entities.MenuAggregate
@using MySpace.ApplicationCore
@model ListPageResult<Menu>

@section Styles{
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">

            </div>

            <div class="ibox-content">
                <table id="table">
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table-locale-all.js"></script>
    <script>
        $('#table').bootstrapTable({
            url: '/console/menu/list-page',
            method: 'get',
            pagination: true,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            locale: 'zh-cn',
            virtualScroll: true,
            columns: [{
                field: 'id',
                title: 'id',
                //visible: false,
            }, {
                field: 'name',
                title: '菜单名'
            }, {
                field: 'icon',
                title: '图标样式(Font Awesome)'
            }]
        })
    </script>
}
